body {
	background-image:url('../images/bg_page_notes.gif');
	font-family:Arial,sans-serif;
}

a {
	text-decoration:none;
	color:#a65c4c;
}

#container {
	width:960px;
	margin:0 auto;
	background:#fff5ea;
}

#main {
	width:900px;
	margin:0 auto 53px auto;
	background-color:#c0cbd0;
}

header {
	background-color:#a67947;
	padding:0 0 0 36px;
}

header h3#tagline {
	float:right;
	font-size:12px;
	color:#fff;
	font-style:italic;
	margin:36px 36px 0 0;
}

nav {
	background-color:#2d5668;
	padding:10px 0 10px 36px;
}

nav ul {
	display:inline;
}

nav ul li {
	display:inline;
}

nav ul li a {
	color:#fff;
	text-decoration:none;
	margin-right:10px;
}

#main #maincontent {
	width:494px;
	float:left;
	padding:36px;
	background-color:#ffedd9;
}

#main #maincontent h2 {
	font-size:22px;
	font-weight:bold;
}

#main #maincontent .performance {
	margin:36px 0 0 0;
	width:230px;
	float:left;
}

#main #maincontent .performance img {
	margin:0 10px 10px 0;
}

#main #maincontent .performance h3 {
	font-size:20px;
}

#main #maincontent .performance h3 a {
	color:#2D5668;
	text-decoration:none;
}

#main #sidebar {
	width:259px;
	float:right;
	padding:36px;
}

#main #sidebar h3 {
	font-style:italic;
	font-size:20px;
}

#contactinfo {
	clear: both;
	background-color:#a67947;
	padding:10px 0 10px 36px;
}
#contactinfo p {
	color:#fff;
}